<html lang="en">
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <div id="form-cont">
            <div id="form-head">
                <h1>Rungtynes</h1>
            </div>
            <div id="form-wrap">
                <form id="login_form" action="/admin/" method="post">
                    <div class="inputdata">
                        <span><input type="text" name="team1" placeholder="1"></span>
                        <div class="clear"></div>
                    </div>
                    <div class="inputdata">
                        <span><input type="text" name="team2" placeholder="2"></span>
                        <div class="clear"></div>
                    </div>
                    <div class="inputdata">
                        <span><input type="datetime" name="starts"></span>
                        <div class="clear"></div>
                    </div>
                    <div id="submit_row">
                        <input type="submit" value="Siusti!">
                    </div>
                </form>
                {{ if . }}<div id="error-bar">
                        <p>PAVYKO</p>
                    </div>{{ end }}
            </div>
        </div>
    </body>
</html>
