body {
    background-color: [[background]];
    font-family: "Sans", "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
    height: 100%;
}

#body-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#footer, #push {
    height: 50px;
    clear: both;
}
#footer a {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}
#form-cont{
    border: 2px solid [[dark-fg]];
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 310px;
    position: relative;
}
#form-head{
    text-align: center;
    background: [[dark-fg]];
    color: [[background]];
    overflow: auto;
    padding: 0;
    width: 100%;
}
#form-wrap{
    margin: 10px 15px;
}
div.inputdata {
    vertical-align:middle;
    margin:15px;
}
div.inputdata span{
    display: block;
    overflow: hidden;
}
div.inputdata input{
    border: 1px;
    background:none;
    border: 1px solid [[dark-fg]];
    width: 100%;
    padding: 4px;
    margin: auto;
}
div.inputdata input:focus{
    outline: none !important;
    border-color: [[focus-border]];
}
.clear{
    clear:both;
}
input[type=submit] {
    background :none;
    clear: both;
    border: 1px solid [[dark-fg]];
    font-weight: 700;
    font-size: 12;
    margin-left: 16px;
}
#forgot_link{
    width: 310px;
    margin: 10px auto 0;
    text-align: right;
}
#forgot_link a{
    text-decoration: none;
    color: [[dark-fg]];
}
#error-bar {
    text-align: center;
    color: red;
}

#table-wrap {
    max-width: 85%;
    margin: 20px auto ;
    overflow: auto;
    max-height: 100%;
}
#main-table {
    text-align: center;
    empty-cells: show;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 16;
    overflow: scroll;
    margin: auto;
}
#rez_data {
    border: 1px solid [[table-border]];
    color: [[outer]];
    font-weight: 700;
}
.outer {
    background-color: [[dark-fg]];
    color: [[outer]];
}
.outer.name{
    border: 1px solid [[table-border]];
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.outer.place{
    text-align: right;
    border: 1px solid [[table-border]];
}
.hidden {
    display: none;
    position: absolute;
    border: 2px solid [[outer]];
    background-color: [[dark-fg]];
    color: [[outer]];
    padding: 4px;
    z-index: 10;
}
.game_date {
    border: 1px solid [[table-border]];
    background-color: [[dark-fg]];
}
.mid {
    border: 1px solid [[table-border]];
}
.mid.result{
    font-weight: 700;
}
.outer.name:hover .hidden {
    display: block;
}
.user {
    font-weight: 700;
}
.user_place {
    border: 1px solid [[table-border]];
    background-color: [[user-bg]];
    text-align: right;
}
.g_row td {
    border-top: 1px solid [[table-border]];
    border-left: 1px solid [[table-border]];
    border-right: 1px solid [[table-border]];
}
.p_row td {
    border-bottom: 1px solid [[table-border]];
    border-left: 1px solid [[table-border]];
    border-right: 1px solid [[table-border]];
}
.user_name {
    border: 1px solid [[table-border]];
    color: [[dark-text]];
    background-color: [[user-bg]];
}
.default_name {
    border: 1px solid [[table-border]];
    color: [[dark-text]];
    background-color: [[default-name-bg]];
}
.happened {
    background-color: [[game-h]];
}
.not_happened {
    background-color: [[game-nh]];
}

#header {
    height: 40px;
    padding-right: 30px;
    text-align: right;
}
#header a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: [[dark-fg]];
    font-size: 150%;
    margin: auto 4px;
}

#guess-table-wrap {
    margin-left: 20px;
}
#guess-table-wrap table {
    border-collapse: collapse;
}

#guess-table-wrap td {
    border: 1px solid [[table-border]];
}

.result_field {
    width: 40px;
    padding: 1px;
}
#warning {
    margin: 5px 30px;
}
.last {
    font-weight : 700;
}
.closed {
    background-color: [[closed-guess-bg]];
    color: [[dark-fg]];
}
.open{
    background-color: [[open-guess-bg]];
    color: [[dark-fg]];
}
