body {
    background-color: #f4f4f4;
    font-family: "Sans", "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
    height: 100%;
}
#body-wrap {
    height: 100%;
}
#footer {
    height: 50px;
}
#form-cont{
    border: 2px solid #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 310px;
    position: relative;
}
#form-head{
    text-align: center;
    background: #493736;
    color: #f4f4f4;
    overflow: auto;
    padding: 0;
    width: 100%;
}
#form-wrap{
    margin: 10px 15px;
}
div.inputdata {
    vertical-align:middle;
    margin:15px;
}
div.inputdata span{
    display: block;
    overflow: hidden;
}
div.inputdata input{
    border: 1px;
    background:none;
    border: 1px solid #493736;
    width: 100%;
    padding: 4px;
    margin: auto;
}
div.inputdata input:focus{
    outline: none !important;
    border-color: #d3643b;
}
.clear{
    clear:both;
}
input[type=submit] {
    background :none;
    clear: both;
    border: 1px solid #493736;
    font-weight: 700;
    font-size: 12;
    margin-left: 16px;
}
#forgot_link{
    width: 310px;
    margin: 10px auto 0;
    text-align: right;
}
#forgot_link a{
    text-decoration: none;
    color: #493736;
}
#error-bar {
    text-align: center;
    color: red;
}

#table-wrap {
    max-width: 80%;
    margin: 20px auto ;
    overflow: auto;
    max-height: 100%;
}
#main-table {
    text-align: center;
    empty-cells: show;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 16;
    overflow: scroll;
    margin: auto;
}
#rez_data {
    border: 1px solid black;
    color: #E9E7D6;
    font-weight: 700;
}
.outer {
    background-color: #2C2C2C;
    color: #E9E7D6;
}
.outer.name{
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.outer.place{
    border: 1px solid black;
}
.hidden {
    display: none;
    position: absolute;
    border: 2px solid #E9E7D6;
    background-color: #2C2C2C;
    color: #E9E7D6;
    padding: 4px;
    z-index: 10;
}
.game_date {
    border: 1px solid black;
    background-color: #2C2C2C;
}
.mid {
    border: 1px solid black;
}
.mid.result{
    font-weight: 700;
}
.outer.name:hover .hidden {
    display: block;
}
.user {
    font-weight: 700;
}
.user_place {
    border: 1px solid black;
    background-color: #E6683F;
}
.g_row td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.p_row td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.user_name {
    border: 1px solid black;
    color: #111111;
    background-color: #E6683F;
}
.default_name {
    border: 1px solid black;
    color: #111111;
    background-color: #CE4D45;
}
.happened {
    background-color: #EBD1B0;
}
.not_happened {
    background-color: #F2C777;
}
