body {
    background-color: #E9E7D6;
    font-family: "Sans", "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
}
#form-cont{
    border: 2px solid #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 310px;
    position: relative;
}
#form-head{
    text-align: center;
    background: #2C2C2C;
    color: #E9E7D6;
    overflow: auto;
    padding: 0;
    width: 100%;
}
#form-wrap{
    margin: 10px 15px;
}
#settings_container {
    border: 2px solid #302E2D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 310px;
    position: relative;
}
div.inputdata {
    vertical-align:middle;
    margin:15px;
}
div.inputdata span{
    display: block;
    overflow: hidden;
}
div.inputdata input{
    border: 1px;
    background:none;
    border: 1px solid #2d2d2d;
    width: 100%;
    padding: 4px;
    margin: auto;
}
div.inputdata input:focus{
    border-color: #8A9B0F;
}
.clear{
    clear:both;
}
input[type=submit] {
    background :none;
    clear: both;
    border: 1px solid #302e2d;
    font-weight: 700;
    color: #302e2d;
    font-size: 12;
    margin-left: 16px;
}
#forgot_link{
    width: 310px;
    margin: 10px auto 0;
    text-align: right;
}
#forgot_link a{
    text-decoration: none;
    color: #302E2D;
}
#error-bar {
    text-align: center;
    color: red;
}
