body {
    background-color: #ece5ce;
    font-family: "Sans", "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
}
#form-cont{
    border: 2px solid #2C2C2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 300px;
    width: 310px;
    position: relative;
}
#form-head{
    text-align: center;
    background: #493736;
    color: #ece5ce;
    overflow: auto;
    padding: 0;
    width: 100%;
}
#form-wrap{
    margin: 10px 15px;
}
div.inputdata {
    vertical-align:middle;
    margin:15px;
}
div.inputdata span{
    display: block;
    overflow: hidden;
}
div.inputdata input{
    border: 1px;
    background:none;
    border: 1px solid #493736;
    width: 100%;
    padding: 4px;
    margin: auto;
}
div.inputdata input:focus{
    outline: none !important;
    border-color: #d3643b;
}
.clear{
    clear:both;
}
input[type=submit] {
    background :none;
    clear: both;
    border: 1px solid #493736;
    font-weight: 700;
    font-size: 12;
    margin-left: 16px;
}
#forgot_link{
    width: 310px;
    margin: 10px auto 0;
    text-align: right;
}
#forgot_link a{
    text-decoration: none;
    color: #493736;
}
#error-bar {
    text-align: center;
    color: red;
}
.hidden {
    display: none;
    position: absolute;
    border: 2px solid #E9E7D6;
    background-color: #2C2C2C;
    color: #E9E7D6;
    padding: 4px;
    z-index: 10;
}
#main-table {
    border: 1px solid black;
    overflow: scroll;
}
#main-table td {
    border: 1px solid black;
}
