{{define "head"}}<title>Pamiršai?</title>{{end}}
{{define "body"}}
    <div id="form-cont">
        <div id="form-head">
            <h1>Pamiršai slaptažodį?</h1>
        </div>
        <div id="form-wrap">
            <form id="forgot" action="/forgot/" method="post">
                <div class="inputdata">
                    <span><input id="email" type="text" name="email" placeholder="El. pašto adresas:"></span>
                    <div class="clear"></div>
                </div>
                <div id="submit_row">
                    <input type="submit" value="Siųsti!">
                </div>
            </form>
        </div>
    </div>{{end}}
