{{define "head"}}<title>Futbolas</title>{{end}}
{{define "body"}}
    <div id="header">
        <a href="/">Grįžti</a>
        <a href="/settings/">Nustatymai</a>
        <a href="/logout/">Išeiti</a>
    </div>
    <div id="guess-table-wrap">
        <form action="/guesses/" method="post">
            <table>
                <tr>
                    <td class="outer mid result">Rungtynės</td>
                    <td colspan="2" class="outer mid result">Rezultatas</td>
                </tr>
                {{range $guess := .Guesses}}<tr>
                    <td class="outer name">{{ $guess.Date }} | {{$guess.Name}}</td>
                    <td class="happened" colspan="2" style="text-align: center;">{{$guess.Result}}</td>
                </tr>{{end}}
                <tr>
                    <td>
                        <select name="game-id" >
                            {{range $game := .OpenGames}}<option value="{{$game.Pk}}">{{$game.StartsStr}} {{$game.Team1}}-{{$game.Team2}}</option>{{end}}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="result_1" value="" class="result_field">
                    </td>
                    <td>
                        <input type="text" name="result_2" value="" class="result_field">
                    </td>
            </table>
            <input type="submit" value="Pateikti" style="margin-top: 20px;">
        </form>
    </div>
    <div id="warning">
        <p style="color: #A00000;">Dėmesio!</p>
        <p>Dalis varžybų vyksta vėlyvą naktį (1, 4 val. nakties).</p>
        <p>Nepramiegokite rungtynių ir nepamirškite iš anksto pateikti rezultatų!</p>
        <p></p>
        <p style="color: #00A000;">Rezultatus taip pat galima pateikti bet kuriame laukelyje formatu 2:1 arba 2-1</p>
    </div>
    {{end}}
