{{define "head"}}<title>Futbolas</title>{{end}}
{{define "body"}}
    <div id="header">
        <a href="/">Grįžti</a>
        <a href="/settings/">Nustatymai</a>
        <a href="/logout/">Išeiti</a>
    </div>
    <div id="guess-table-wrap">
        <form action="/guesses/" method="post">
            <table>
                <tr>
                    <td class="outer mid result">Rungtynės</td>
                    <td colspan="2" class="outer mid result">Rezultatas</td>
                </tr>
                {{range $guess := .Guesses}}<tr>
                    <td class="outer name">{{ $guess.Date }} | {{$guess.Name}}</td>
                    <td class="happened" colspan="2" style="text-align: center;">{{$guess.Result}}</td>
                </tr>{{end}}
                <tr>
                    <td>
                        <select name="game-id" >
                            {{range $game := .OpenGames}}<option value="{{$game.Pk}}">{{$game.StartsStr}} {{$game.Team1}}-{{$game.Team2}}</option>{{end}}
                        </select>
                    </td>
                    <td>
                        <input type="number" name="result_1" value="" class="result_field" style="margin-top:5px;border-right:none;">
                    </td>
                    <td>
                        <input type="number" name="result_2" value="" class="result_field" style="border-left:none;">
                    </td>
            </table>
            <input type="submit" value="Pateikti" style="margin-top: 20px;">
        </form>
    </div>{{end}}
