<html lang="en">
    <head>
        <title>Futbolas</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div id="body-wrap">
            <div id="header">
            </div>
            <div id="table-wrap">
                <table id="main-table" class="not_happend">
                    <tr id="top_table_row">
                        <td colspan="2" rowspan="2" class="outer empty" style="border: 1px solid black;">Rezultatas/Data</td>
                        {{ range $game := .Games }}<td class="outer name">{{ $game.NameFmt }}<div class="hidden">{{ $game.FullName }}</div></td>{{end}}
                    </tr>
                    <tr id="mid_table_row">
                        {{ range $game := .Games }}<td class="outer mid {{ $game.Style }}">{{ $game.ResultDate }}</td>{{end}}
                    </tr>
                {{ $GGG := .Guesses }}
                {{ range $uindex, $user := .Users }}<tr class="g_row {{ $user.Style }}">
                    <td rowspan="2" class="{{ $user.PlaceStyle }}">{{ $user.Place }}</td>
                    <td rowspan="2" class="{{ $user.NameStyle }}">{{ $user.ShortNameFmt }}</td>
                    {{ range $guess := index $GGG $uindex }}<td class="{{ $guess.Style }}">{{ $guess.ResultFmt }}</td>{{ end }}
                </tr><tr class="p_row {{ $user.Style }}">
                    {{ range $guess := index $GGG $uindex }}<td class="{{ $guess.Style }}">{{ $guess.PointsFmt }}</td>{{ end }}
                </tr>{{ end }}
                </table>
            </div>
        </div>
        <div id="footer">
            <p>Some Footer</p>
        </div>
    </body>
</html>
