{{define "head"}}<title>Prisijunk!</title>{{end}}
{{define "body"}}
        <div id="form-cont">
            <div id="form-head">
                <h1>Prisijunk!</h1>
            </div>

            <div id="form-wrap">
                <form action="/login/" method="post">
                    <div class="inputdata">
                        <span><input type="text" name="username" placeholder="El. pašto adresas" value="{{.}}" id="username"></span>
                        <div class="clear"></div>
                    </div>
                    <div class="inputdata">
                        <span><input type="password" name="password" placeholder="Slaptažodis" id="password"></span>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <input type="submit" value="Prisijungti!">
                        <span style="float: right;">
                            <input id="remember" type="checkbox" name="remember" value="1">
                            <label style="color: #2d2d2d;" for="remember">Prisiminti?</label>
                        </span>
                        <div class="clear"></div>
                    </div>
                </form>
                {{ if . }}<div id="error-bar">
                        <p>Neteisingas vartotojo slaptažodis.</p>
                    </div>{{ end }}
            </div>
            
        </div>
        <div id="forgot_link">
            <a href="/register/">Registracija</a>
        </div>
        <div id="forgot_link">
            <a href="/forgot/">Pamiršai slaptažodį?</a>
        </div>{{end}}
