{{define "head"}}<title>Nustatymai</title>{{end}}
{{define "body"}}
    <div id="header">
        <a href="/">Grįžti</a>
        <a href="/logout/">Išeiti</a>
    </div>
    <div id="form-cont">
        <div id="form-head">
            <h1>Keisti slaptažodį</h1>
        </div>
        <div id="form-wrap">
            <form id="login_form" action="/settings/" method="post">
                <div class="inputdata">
                    <span><input id="new" type="password" name="new" placeholder="Naujas slaptažodis"></span>
                    <div class="clear"></div>
                </div>
                <div class="inputdata">
                    <span><input id="repeat" type="password" name="repeat" placeholder="Pakartoti"></span>
                    <div class="clear"></div>
                </div>
                <div class="inputdata">
                    <span><input id="old" type="password" name="old" placeholder="Senas slaptažodis"></span>
                    <div class="clear"></div>
                </div>
                <div id="submit_row">
                    <input type="submit" value="Keisti!">
                </div>
            </form>
        </div>
    </div>{{end}}
